<template lang="pug">
    .container.bootstrap.snippet
        .row
            .col-lg-12.col-md-12.mx-auto
                .contact-form-box.comment-reply-form
                    form(method='post' action='#')
                        .row.gtr-uniform.gtr-50
                            .col-12
                                textarea#message(name='message' :placeholder="placeholder" rows='4' v-model="body" :readonly="inProgress" )
                    .buttons
                        button(type='button' @click="sendReply()" :disabled="inProgress").primary.submit-reply Send Message
                        a(v-if="showCancel" @click="cancel()" :disabled="inProgress").cancel Cancel

</template>

<script>
    import Vue from 'vue';
    import Vuex from 'vuex';
    import CommentsService from "../../services/CommentsService";

    export default Vue.component('reply-form', {
        props: {
            parent_author: {
                type: String,
                required: true
            },
            parent_permlink: {
                type: String,
                required: true
            },
            showCancel: {
                type: Boolean,
                required: true,
                default: true
            }
        },

        data() {
            return {
                body: '',
                inProgress: false
            }
        },


        computed: {
            username() {
                return this.$store.state.sso.username;
            },
            placeholder() {
                return `Writing as @${this.username}`
            },
            token() {
                return this.$store.state.sso.token;
            }
        },

        methods: {
            sendReply() {
                this.inProgress = true;
                return CommentsService.sendComment(this.$props.parent_author, this.$props.parent_permlink, 'test-title', this.body, this.token )
                    .then(response => {
                        const { data } = response;
                        this.success(data);
                    }).catch((error) => {
                        this.inProgress = false;
                        console.log(error);
                    })
            },
            cancel() {
                this.body = '';
                this.$emit('cancel')
            },
            success(data) {
                this.inProgress = false;
                this.body = '';
                this.$emit('success', data);
            }
        }
    })

</script>

<style scoped>
    .cancel {
        font-size: 0.5em;
        cursor: pointer;
        font-weight: 600;
        padding: 15px 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 0;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .buttons {
        padding-bottom: 25px;
    }
</style>
