<template lang="pug">
    CommentsTree(:comment="article" :isRoot="true")
</template>

<script lang="ts">
    import CommentsTree from '../components/CommentsTree.vue';
    import ReplyForm from '../components/ReplyForm.vue';
    import Vue from "vue";

    import Vuex from 'vuex';

    export default Vue.extend({

        components: {
            ReplyForm,
            CommentsTree
        },

        computed: {

            article() {
                const permlinkIndicator = document.getElementById('permlink');
                const authorIndicator = document.getElementById('author');

                return {
                    permlink: permlinkIndicator ? permlinkIndicator["value"] : null,
                    author: authorIndicator ? authorIndicator["value"] : null,
                    children: true
                }
            },

            isLoggedIn() {
                return this.$store.state.sso.loggedIn;
            }
        }
    });
</script>
