article(itemscope itemtype="http://schema.org/NewsArticle").col-lg-4.col-md-6

    include metadata/publisher.pug

    meta(itemprop="mainEntityOfPage" content= "https://" + (blog.custom_domain ? blog.custom_domain : blog.domain) + "/" + item.permlink)
    meta(itemprop="datePublished" content= moment(item.date).toISOString())
    meta(itemprop="dateModified" content= moment(item.date).toISOString())
    meta(itemprop="image" content= item.thumbnail)
    meta(itemprop="headline" content= item.title)
    .news-post.standart-post
        .post-image
            a(href= '/' + item.permlink)
                img(src= item.thumbnail_image? item.thumbnail_image : '/img/default.jpg')
            span.categories
                if item.categories
                    each category in item.categories
                        a(href="/category/"+ category.slug, class="category") #{category.name}
        h2
            a(href= '/' + item.permlink, itemprop="url") #{item.title}
        ul.post-tags
            li
                div(itemprop="author" itemscope itemtype="https://schema.org/Person")
                    i.lnr.lnr-user
                    = "@" + item.author
            li
                a(href= '/' + item.permlink + "#comments")
                    i.lnr.lnr-bubble
                    span= item.comments
            li
                i.lnr.lnr-thumbs-up
                = item.votes_count
            li
                i.lnr.lnr-diamond
                | $
                = item.value.toFixed(2)
        p= item.abstract + "..."
