- const og_description = (article && article.abstract) ? article.abstract : blog.opengraph_default_description;
- const og_site_name = blog.title;
- const og_url = `https://${blog.custom_domain ? blog.custom_domain : blog.domain}${article ? '/' + article.permlink : ''}`;
- const og_image = (article && article.thumbnail_image) ? article.thumbnail_image : blog.opengraph_default_image_url;
- const og_title = article ? `${article.title} - ${blog.title}` :  (blog.slogan ? `${blog.title} - ${blog.slogan}` : `${blog.title}`)

//- Facebook Open Graph Meta Data
meta(property="og:url" content= og_url)
meta(property="og:type" content="article")
meta(property="og:site_name" content= og_site_name)
meta(property="og:title" content= og_title)
meta(property="og:description" content= og_description)
meta(property="og:image" content= og_image)

//- Twitter Meta Data
meta(name="twitter:url" content= og_url)
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content= og_site_name)
meta(name="twitter:title" content= og_title)
meta(name="twitter:description" content= og_description)
meta(name="twitter:image" content= og_image)