.sidebar.theiaStickySidebar
    .widget
        if blog.link_facebook && blog.link_facebook != ''
            .fb-page(data-href=blog.link_facebook data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
                blockquote(cite=blog.link_facebook).fb-xfbml-parse-ignore
                    a(href=blog.link_facebook)
                        = blog.blog_title

    .widget.news-widget
        h1= "Most popular"
        include sidebar/featured.pug
