section
    header.major
        h2 Featured articles
    .mini-posts
        each article in featured
            article
                a.image(href='/' + article.permlink)
                    img(src=( article.thumbnail_image ? article.thumbnail_image :  '/images/pic07.jpg'), alt='')
                p= article.title
