if featured && featured.length
    section#banner
        .content
            header
                h1= featured[0].title
            p= featured[0].abstract
            ul.actions
                li
                    a.button.big(href='/' + featured[0].permlink) Read More
        span.image.object
            img(src=(featured[0].thumbnail_image ? featured[0].thumbnail_image : '/images/pic10.jpg'), alt='')
