extends website

block content
    #main
        article.post
            header
                .title
                    h2 Error 404
            p Page you're looking for does not exist. Please try different one.
