article.post
    header
        .title
            h2
                a(href='/' + article.permlink)= article.title
        .meta
            time.published(datetime= article.created)= moment(article.created).format('LL')
            a.author(href='#')
                span.name= article.author
                img(src="https://images.hive.blog/u/" + article.author + "/avatar", alt='')
    if article.featured_image
        a.image.featured(href='/' + article.permlink)
            img(src= article.featured_image, alt='')
    p= article.abstract
    footer
        ul.actions
            li
                a.button.large(href='/' + article.permlink) Continue Reading
        ul.stats
            each category in article.categories
                li
                    a(href='/category/' + category.slug)= category.name
            li
                a.icon.solid.fa-heart(href='/' + article.permlink)= article.votes_count
            li
                a.icon.solid.fa-comment(href='/' + article.permlink)= article.value.toFixed(2)
