article.mini-post
    header
        h3
            a(href='/' + article.permlink)= article.title
        time.published(datetime= article.created)= moment(article.created).format('LL')
        a.author(href='https://peakd.com/@' + article.author)
            img(src="https://images.hive.blog/u/" + article.author + "/avatar", alt='')
    a.image(href='/' + article.permlink)
        img(src= article.thumbnail_image ? article.thumbnail_image : '/images/pic04.jpg', alt='')
