section#footer
    ul.icons
        if blog.link_twitter
            li
                a.icon.brands.fa-twitter(href= blog.link_twitter)
                    span.label Twitter

        if blog.link_facebook
            li
                a.icon.brands.fa-facebook-f(href= blog.link_facebook)
                    span.label Facebook
        if blog.link_instagram
            li
                a.icon.brands.fa-instagram(href= blog.link_instagram)
                    span.label Instagram
        if blog.link_linkedin
            li
                a.icon.solid.fa-linkedin(href= blog.link_linkedin)
                    span.label RSS
        li
            a.icon.solid.fa-rss(href='/feed')
                span.label RSS

    p.copyright= '©' +  blog.title + '. Design: '
    a(href='http://html5up.net') HTML5 UP
    | . Powered by:
    a(href='http://engrave.website') Engrave
    | .