extends website

append scripts
    script(type='text/javascript').
        var btn_reply_text = "Reply"
        var btn_send_reply_text = "Send reply"
        var btn_cancel_text = "Cancel"
        var comment_hidden = "Comment hidden due to low rating"
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" async)
    if blog.lang == 'pl'
        script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/pl.js" async)

block header
    input(type='hidden', id='permlink', value= article.permlink)
    input(type='hidden', id='author', value= article.author)

    if user
        input(type='hidden', id='logged_user', value= user.name)

    header.masthead(style= (article.featured_image) ? "background-image: url('" + article.featured_image + "')" : "")
        .overlay
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    .post-heading
                        h1= article.title
                        h2.subheading= article.abstract + '...'
                        span.meta
                            span(title= moment.utc(article.created).local().format('LLL'))= moment.utc(article.created).local().fromNow()
                            span= ', comments: ' + article.comments
                            span= ', votes: ' + article.votes_count
                            span= ', reward: $' + parseFloat(article.value).toFixed(2)
    article
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    != article.body

                    .article-actions
                        .actions-left
                            ul.post-tags
                                if article.categories
                                    each category in article.categories
                                        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                                            i.fa.fa-tag
                                            span(itemscope itemtype="http://schema.org/Thing" itemprop="item")
                                                a(href="/category/" + category.slug itemprop="url")
                                                    span(itemprop="name")= category.name
                                li
                                    i.fa.fa-user
                                    span= article.author
                                li
                                    i.fa.fa-clock-o
                                    span(title= moment.utc(article.created).local().format('LLL'))= moment.utc(article.created).local().fromNow()
                        #article-actions.actions-right
                            ul.post-tags
                                li
                                    i.fa.fa-thumbs-up#voting-icon
                                    span#voting-counter= article.votes_count
                                li
                                    i.fa.fa-diamond
                                    span#voting-value= '$' + parseFloat(article.value).toFixed(2)
    hr
    include partials/comments.pug
