extends website.pug

block content

    input(type="hidden" value=category._id)#categoryId

    section
        header.major
            h2= category.name
        if latest.length
            .posts
                each article in latest
                    article
                        a.image(href='/' + article.permlink)
                            img(src= (article.thumbnail_image ? article.thumbnail_image : '/images/pic01.jpg'), alt='')
                        h3= article.title
                        p= article.abstract
                        ul.actions
                            li
                                a.button(href='/' + article.permlink) More
            #articles
                hr
                ul.actions
                    li
                        a.button Load more
        else
            h3 No articles found
