<template lang="pug">
    nav.links
        ul
            li(v-if="!username").search
                a(href="/login") Login
            li(v-else).search
                a(@click="logout()") Logout, @{{ username }}

</template>

<script lang="ts">
    import Vue from "vue";
    import Vuex from 'vuex';

    declare module sslssso {
        export function logout(): void;
        export function login(jwt: string): void;
        export function listen(
            event: string,
            callback: any
        ): void;
    };

    export default Vue.extend({

        computed: {
            username() {
                return this.$store.state.sso.username;
            }
        },
        methods: {
            logout () {
                console.log('Testing Log out');
                sslssso.logout();
            }
        },
        mounted(): void {

            sslssso.listen ("sso.onidentification", (observable: any, eventType: any, data: any) => {
                const { username } = data.payload.data;
                const { jwt } = data;
                this.$store.commit('ssoLogin', {username, token: jwt});
            });

            sslssso.listen ("sso.onlogout", () => {
                this.$store.commit('ssoLogout');
            });

            let uri = window.location.search.substring(1);
            let params = new URLSearchParams(uri);
            const jwt = params.get("jwt");
            if(jwt) {
                setTimeout( ()=>{
                    sslssso.login(jwt);
                    var url = [location.protocol, '//', location.host, location.pathname].join('');
                    window.location.replace(url);
                }, 1000);
            }
        }
    });
</script>
