extends website.pug

append content

    input(type="hidden" value=category._id)#categoryId

    #main
        section#two
            h1= category.name

            if latest.length > 0
                h2 Recent articles
                .row
                    each article, index in latest
                        article.col-6.col-12-xsmall.work-item
                            a.fit.thumb(href='/' + article.permlink)
                                img(src= article.thumbnail_image || '/images/thumbs/01.jpg' alt='')
                            a(href='/' + article.permlink)
                                h3= article.title
                            p= article.abstract

                #articles
                    ul.actions
                        li
                            a.button Load more
            else
                h2 No articles found
