

<template lang="pug">
    article.post
        header
            .title
                h2
                    a(:href="permlink") {{article.title}}
            .meta
                time(:title='createdLocalTime | moment("DD MMMM YYYY, h:mm:ss")' aria-hidden="true").published= "{{ createdLocalTime | moment('from') }}"
                a.author(href='#')
                    span.name {{article.author}}
                    img(:src="avatar", alt='')
        a(v-if="article.featured_image").image.featured(:href="permlink")
            img(:src="article.featured_image", alt='')
        p {{article.abstract}}
        footer
            ul.actions
                li
                    a.button.large(:href="permlink") Continue Reading
            ul.stats
                li(v-for="category in article.categories")
                    a(:href="getCategoryPermlink(category)") {{category.name}}
                li
                    a.icon.solid.fa-heart(:href="permlink") {{article.votes_count}}
                li
                    a.icon.solid.fa-comment(:href="permlink") {{article.value.toFixed(2)}}
</template>

<script lang="ts">

    import Vue from "vue";

    export default Vue.component('article', {
        props: {
            article: {
                type: Object,
                required: true
            }
        },
        computed: {
            thumbnail() {
                return this.article.thumbnail_image || '/images/pic01.jpg';
            },
            permlink() {
                return `/${this.article.permlink}`;
            },
            avatar() {
                return "https://images.hive.blog/u/" + this.article.author + "/avatar"
            }
        },
        methods: {
            getCategoryPermlink(category: any) {
                return `/category/${category.slug}`
            }
        }
    })

</script>
