/*-------------------------------------------------
 =  Table of Css

 1.import google fonts & basic style of template
 2.Header
 3.General Template style
 4.Slider news
 5.News posts
 6.Sidebar
 7.Single Post
 8.Forums
 9.Author pages
 10.404 error page
 11.Contact
 12.Register page
 13.About page
 14.Underconstruction page
 15.Footer
 16.Responsive Part
-------------------------------------------------*/

/* import google fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800");
.reset-elem, .top-line ul.info-list, .top-line ul.social-icons, .megamenu ul.mega-list, .mega-posts-menu ul.filter-list, .dropdown, div.vertical-box ul.vertical-menu, div.vertical-box ul.vertical-menu li ul.level2, div.vertical-box ul.social-icons, #content-section ul.pagination-list, ul.post-tags, ul.list-news, ul.small-posts, .sidebar .social-widget ul.social-share, .sidebar .tags-widget ul.tags-list, .sidebar .archive-widget ul.archive-list, .single-post .text-boxes ul.tags-list, .share-post-box ul.share-box, .author-profile .author-box .author-content ul.author-social, .comment-area-box > ul, ul.author-list, ul.author-list > li .autor-box .autor-content .autor-title ul.autor-social, ul.author-list > li .autor-last-line ul.autor-tags, body.underconstruction div.social-box ul.social-icons, footer .up-footer .footer-widget ul.social-icons, footer .up-footer .tags-widget ul.tags-list, footer .down-footer ul.list-footer {
  margin: 0;
  padding: 0; }
html {
  -webkit-font-smoothing:antialiased;
}

a {
  color: #00A7B3;
}

.paragraph, p {
  font-size: 1em;
  color: #565656;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  line-height: 22px;
  margin: 0 0 10px; }

.heading1, h1 {
  color: #212121;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  /* text-transform: uppercase; */
  font-weight: 600;
  margin: 20px 0 10px; }

.heading2, ul.author-list > li .autor-box .autor-content .autor-title h1 span:after, h2 {
  color: #212121;
  font-size: 1.2em;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
  /* text-transform: uppercase; */
  margin: 20px 0 10px;
  line-height: 28px; }

.heading3, h3 {
  color: #333333;
  font-size: 1.15em;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400;
  margin-top: 5px;
  line-height: 28px; }

.back-cover {
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important; }

.anchor, a {
  /* display: inline-block; */
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */
/*------------------------------------------------- */
/* =  Header
 *------------------------------------------------- */
.header-banner-place {
  width: 100%;
  padding: 40px 0;
  background: #00A7B3;
  overflow: hidden; }
  .header-banner-place a.navbar-brand {
    padding-top: 15px;
    float: left; }
    .header-banner-place a.navbar-brand img {
      margin-bottom: 5px; }
  .header-banner-place p {
    font-size: 11px;
    color: #f1f1f1;
    line-height: 20px;
    margin-bottom: 0; }
  .header-banner-place .advertisement {
    overflow: hidden;
    padding: 0;
    text-align: right; }

.navbar {
  padding: 0;
  background: #1a9adb !important;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 999999; }

header {
  padding: 0; }

header.active {
  padding-bottom: 57px; }
  header.active .navbar {
    position: fixed;
    top: 0;
    left: 0; }

.navbar-nav {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  .navbar-nav > li > a {
    color: #fff !important;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    padding: 21px 20px 18px !important;
    position: relative; }
    .navbar-nav > li > a i {
      font-size: 13px;
      margin-left: 10px; }
  .navbar-nav > li:hover > a,
  .navbar-nav > li > a.active {
    background: #046290; }
  .navbar-nav > li.active > a {
    background: #046290;
    padding: 21px 25px 18px !important; }
  .navbar-nav > li > a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    top: 0;
    left: 0;
    background: #00A0B0; }
  /* .navbar-nav > li > a.technologia:before {
    background: #f44336; }
  .navbar-nav > li > a.kosmos:before {
    background: #1b82d6; }
  .navbar-nav > li > a.spacex:before {
    background: #df4661; }
  .navbar-nav > li > a.samochodyelektryczne:before {
    background: #7eb943; }
  .navbar-nav > li > a.nauka:before {
    background: #aa35d6; }
  .navbar-nav > li > a.kultura:before {
    background: #1F2F16; }
  .navbar-nav > li > a.video:before {
    background: #d6ac1b; }
  .navbar-nav > li > a.news:before {
    background: #A3BCF9; }
  .navbar-nav > li > a.internet:before {
    background: #ff7e00; }
  .navbar-nav > li > a.food:before {
    background: #32b47b; }
  .navbar-nav > li > a.ekonomia:before {
    background: #427AA1; } */
  .navbar-nav > li > a.open-search {
    border-bottom: 1px solid transparent; }
  .navbar-nav li.drop-link {
    position: relative; }
  .navbar-nav li.search {
    position: inherit; }

  /* .navbar-nav > li > a.space:before {
    background: #1b82d6; }
  .navbar-nav > li > a.technology:before {
    background: #f44336; }
  .navbar-nav > li > a.science:before {
    background: #aa35d6; } */

.top-line {
  padding: 8px 0 7px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  overflow: hidden;
  background: #00A0B0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03); }
  .top-line ul.info-list li {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    position: relative; }
    .top-line ul.info-list li i {
      font-size: 12px;
      margin-right: 10px; }
    .top-line ul.info-list li a {
      color: #f9f9f9;
      outline: none; }
  .top-line ul.info-list li:before {
    content: '|';
    color: #fff;
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-right: 12px;
    opacity: 0.3; }
  .top-line ul.info-list li:first-child:before {
    display: none;
    margin-right: 0; }
  .top-line ul.social-icons {
    text-align: right; }
    .top-line ul.social-icons li {
      display: inline-block;
      margin-left: 9px; }
      .top-line ul.social-icons li a {
        font-size: 14px;
        color: #f3f3f3; }
      .top-line ul.social-icons li a:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2); }

header.active .top-line {
  height: 0;
  padding: 0; }

.navbar-collapse {
  position: relative; }

.form-inline {
  position: relative; }
  .form-inline input.form-control {
    border: 1px solid transparent;
    padding: 8px 20px;
    color: #cccccc;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    outline: none !important;
    box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -o-box-shadow: 0 0 0 transparent;
    width: 200px;
    background: #343434;
    margin: 0 !important; }
  .form-inline button.btn-primary {
    position: absolute;
    right: 0;
    top: 0 px;
    padding: 8px 20px;
    font-size: 12px;
    margin-left: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    background: transparent;
    color: #aaa;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; }
  .form-inline button.btn-primary:hover {
    opacity: 0.7; }

header.style-2 .header-banner-place {
  padding: 20px 0 25px;
  text-align: center;
  background: #f7f7f7;
  border-bottom: 1px solid #f1f1f1; }
  header.style-2 .header-banner-place a.navbar-brand {
    float: none; }
  header.style-2 .header-banner-place p {
    color: #212121; }

header.style-3 .navbar-brand {
  padding: 10px 0 10px; }

header.style-3 .navbar-nav > li > a {
  padding: 32px 20px 30px !important; }

header.style-3 p {
  font-size: 11px;
  color: #f1f1f1;
  margin: 0; }

header.style-3 .dropdown {
  left: initial;
  right: 0; }
  header.style-3 .dropdown > li .dropdown.level2 {
    left: initial;
    right: 100%; }

header.style-4 {
  box-shadow: 0 1px 2px #e9e9e9;
  -webkit-box-shadow: 0 1px 2px #e9e9e9;
  -moz-box-shadow: 0 1px 2px #e9e9e9;
  -o-box-shadow: 0 1px 2px #e9e9e9; }
  header.style-4 .navbar-brand {
    white-space: pre-wrap;
    padding: 6px 0; }
  header.style-4 .navbar-nav > li > a {
    color: #212121 !important;
    padding: 28px 16px 26px !important; }
  header.style-4 .navbar-nav > li.active > a:before,
  header.style-4 .navbar-nav > li:hover > a:before {
    height: 100%;
    z-index: -1; }
  header.style-4 .navbar-nav > li.active > a,
  header.style-4 .navbar-nav > li:hover > a {
    background: transparent;
    color: #fff !important; }
  header.style-4 .top-line {
    background: #212121; }
  header.style-4 p {
    font-size: 11px;
    color: #999;
    margin: 0; }
  header.style-4 .navbar {
    background: #fcfcfc !important;
    position: relative !important; }
  header.style-4 form {
    margin-left: 30px; }
  header.style-4 .form-inline input.form-control {
    background: #f7f7f7;
    border: 1px solid #f3f3f3;
    color: #999; }

.megamenu {
  position: absolute;
  border-top: 2px solid #436feb;
  top: 100%;
  left: 0;
  background: #212121;
  width: 100%;
  padding: 25px 30px;
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out; }
  .megamenu h2 {
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #343434;
    font-weight: 400;
    position: relative; }
  .megamenu h2:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    left: 0;
    bottom: -1px;
    background: #f44336; }
  .megamenu h2.lay-two:before {
    background: #7eb943; }
  .megamenu h2.lay-three:before {
    background: #ff7e00; }
  .megamenu h2.lay-four:before {
    background: #32b47b; }
  .megamenu ul.mega-list li {
    display: block;
    margin-bottom: 3px;
    padding-bottom: 5px;
    position: relative; }
    .megamenu ul.mega-list li a {
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: #fff; }
    .megamenu ul.mega-list li a:hover {
      color: #00A7B3; }
  .megamenu ul.mega-list li:last-child {
    padding-bottom: 0;
    border: none; }

.mega-posts-menu {
  position: absolute;
  border-top: 2px solid #436feb;
  top: 100%;
  left: 0;
  background: #212121;
  width: 100%;
  padding: 25px 30px 0px;
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out; }
  .mega-posts-menu .news-post h2 a {
    color: #fff; }
  .mega-posts-menu .news-post ul.post-tags li i {
    color: #aaa; }
  .mega-posts-menu ul.filter-list {
    overflow: hidden;
    margin-bottom: 20px; }
    .mega-posts-menu ul.filter-list li {
      display: inline-block;
      margin-bottom: 3px;
      margin-right: 3px;
      float: left; }
      .mega-posts-menu ul.filter-list li a {
        padding: 6px 15px;
        color: #ccc;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        border: 1px solid #333333; }
      .mega-posts-menu ul.filter-list li a:hover {
        background: #00A7B3;
        border: 1px solid transparent;
        color: #fff; }

/* li a.nav-link.technologia + .mega-posts-menu {
  border-top: 2px solid #f44336; }

li a.nav-link.kosmos + .mega-posts-menu {
  border-top: 2px solid #1b82d6; }

li a.nav-link.samochodyelektryczne + .mega-posts-menu {
  border-top: 2px solid #7eb943; }

li a.nav-link.nauka + .mega-posts-menu {
  border-top: 2px solid #aa35d6; }

li a.nav-link.polish + .mega-posts-menu {
  border-top: 2px solid #32b47b; }

li a.nav-link.kultura + .mega-posts-menu {
  border-top: 2px solid #1F2F16; }

li a.nav-link.ekonomia + .mega-posts-menu {
  border-top: 2px solid #427AA1; }

li a.nav-link.news + .mega-posts-menu {
  border-top: 2px solid #A3BCF9; } */

li:hover .megamenu,
li:hover .mega-posts-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0; }

.dropdown {
  position: absolute;
  border-top: 2px solid #00A7B3;
  top: 100%;
  left: 0;
  background: #212121;
  width: 220px;
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out; }
  .dropdown > li {
    position: relative;
    display: block;
    border-bottom: 1px solid #333333; 
    min-height: 40px; 
    /* min-width: 220px; */
    padding: 10px;
    }
    .dropdown > li:first-child { 
      margin-top: 10px;
  }
    .dropdown > li a {
      padding: 10px 20px;
      font-size: 0.815em;
      font-family: "Open Sans", sans-serif;
      color: #fff; }
      .dropdown > li a i {
        font-size: 13px;
        margin-left: 10px; }
    .dropdown > li > a:hover {
      color: #00A7B3; }
    .dropdown > li .dropdown.level2 {
      top: -2px;
      left: 100%;
      border-left: 1px solid #292929; }

li:hover > .dropdown {
  visibility: visible;
  opacity: 1;
  margin-top: 0; }

a.open-menu {
  color: #fff;
  font-size: 15px;
  padding: 20px 0; }

div.vertical-box {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background: #282828;
  overflow-y: scroll;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  div.vertical-box a.close-menu {
    position: absolute;
    top: 23px;
    right: 25px;
    font-size: 17px;
    color: #00A7B3; }
  div.vertical-box h2 {
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
    padding: 20px 30px; }
  div.vertical-box ul.vertical-menu {
    padding: 20px 30px;
    border-bottom: 1px solid #333333; }
    div.vertical-box ul.vertical-menu li {
      display: block;
      margin-bottom: 5px; }
      div.vertical-box ul.vertical-menu li a {
        font-size: 13px;
        font-family: "Open Sans", sans-serif;
        color: #fff;
        text-transform: uppercase; }
        div.vertical-box ul.vertical-menu li a i {
          margin-left: 10px;
          font-size: 16px;
          color: #00A7B3; }
      div.vertical-box ul.vertical-menu li ul.level2 {
        padding: 6px 0;
        padding-left: 30px;
        display: none; }
        div.vertical-box ul.vertical-menu li ul.level2 li a {
          text-transform: capitalize;
          color: #aaa; }
  div.vertical-box ul.social-icons {
    padding: 10px 30px; }
    div.vertical-box ul.social-icons li {
      display: inline-block;
      margin-right: 9px; }
      div.vertical-box ul.social-icons li a {
        font-size: 14px;
        color: #f3f3f3; }
      div.vertical-box ul.social-icons li a:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2); }

div.vertical-box.active {
  left: 0; }

/*-------------------------------------------------- */
/* 1. Isotope filtering */
/*------------------------------------------------- */
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity; }

/*------------------------------------------------- */
/* =  General */
/*------------------------------------------------- */
body {
  background: #fff; }

body.boxed-style {
  background: #f1f1f1; }
  body.boxed-style #container {
    max-width: 1190px;
    margin: 0 auto;
    background: #fff;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    box-shadow: 0 0 10px #e5e5e5;
    -webkit-box-shadow: 0 0 10px #e5e5e5;
    -moz-box-shadow: 0 0 10px #e5e5e5;
    -o-box-shadow: 0 0 10px #e5e5e5;
    overflow: hidden;
    position: relative;
    z-index: 2; }

#content-section {
  padding: 15px 0; }
  #content-section .posts-block {
    margin-bottom: 20px; }
  #content-section .advertisement {
    text-align: center;
    margin-bottom: 30px; }
  #content-section .more-from-news {
    padding: 30px 30px 0;
    margin-top: 40px;
    margin-bottom: 0px;
    border: 1px solid #f1f1f1;
    background: #f7f7f7; }
    #content-section .more-from-news .small-posts {
      margin: 0 0 30px; }
    #content-section .more-from-news h1 {
      padding-bottom: 13px;
      border-bottom: 1px solid #e1e1e1; }
  #content-section ul.pagination-list {
    margin-bottom: 40px; }
    #content-section ul.pagination-list li {
      display: inline-block; }
      #content-section ul.pagination-list li a {
        padding: 6px 14px;
        color: #565656;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        border: 1px solid #f1f1f1; }
      #content-section ul.pagination-list li a.active {
        border: 1px solid #a1a1a1; }
      #content-section ul.pagination-list li a:hover {
        background: #00A7B3;
        border: 1px solid transparent;
        color: #fff; }

.news-headline {
  overflow: hidden;
  margin-bottom: 40px;
  position: relative; }
  .news-headline .news-post {
    float: left;
    width: 25%;
    margin-bottom: 0; }
  .news-headline span.title-notifier {
    background: #00A7B3;
    display: inline-block;
    color: #fff !important;
    z-index: 2;
    font-size: 12px;
    padding: 3px 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px; }

.wide-news-heading {
  overflow: hidden;
  margin-bottom: 0px;
  padding-top: 1px;
  padding-right: 1px; }
  .wide-news-heading .item {
    float: left;
    width: 20%;
    padding-left: 1px;
    padding-bottom: 1px; }
    .wide-news-heading .item .news-post {
      margin-bottom: 0; }
  .wide-news-heading .item.main-news {
    width: 40%; }
  .wide-news-heading .flex-control-nav {
    display: none; }
  .wide-news-heading .flex-direction-nav {
    padding: 0 10px;
    width: 100%;
    top: 50%;
    bottom: initial;
    right: 0;
    margin-top: -20px;
    opacity: 0; }
  .wide-news-heading .flex-direction-nav .flex-prev,
  .wide-news-heading .flex-direction-nav .flex-next {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    line-height: 40px; }
  .wide-news-heading .flexslider:hover .flex-direction-nav {
    opacity: 1; }

.slider-news-fullwidth {
  margin-bottom: 30px; }
  .slider-news-fullwidth .flexslider .slider-caption {
    width: 50%;
    float: left;
    padding: 20px 0;
    padding-right: 15px; }
    .slider-news-fullwidth .flexslider .slider-caption h2 {
      font-size: 36px;
      font-weight: 600;
      line-height: 42px;
      margin: 12px 0; }
      .slider-news-fullwidth .flexslider .slider-caption h2 a {
        color: #212121; }
      .slider-news-fullwidth .flexslider .slider-caption h2 a:hover {
        color: #00A7B3; }
    .slider-news-fullwidth .flexslider .slider-caption ul.post-tags {
      margin-bottom: 15px; }
    .slider-news-fullwidth .flexslider .slider-caption p {
      font-size: 1.2em;
      line-height: 24px;
      max-height: 72px;
      overflow: hidden; }
  .slider-news-fullwidth .flexslider img {
    width: 50%;
    height: auto;
    float: right;
    padding-left: 15px; }
  .slider-news-fullwidth .flex-control-nav {
    display: none; }

.news-headline-box {
  padding: 30px 30px 0;
  margin-bottom: 30px;
  background: #212121;
  border: 2px solid #333333; }
  .news-headline-box > h2 {
    color: #f44336;
    border-bottom: 2px solid #333333;
    padding-bottom: 13px;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 18px; }
  .news-headline-box .flexslider {
    margin-bottom: 30px !important; }
  .news-headline-box .flex-control-nav {
    display: none; }
  .news-headline-box .flex-direction-nav {
    padding: 0 10px;
    width: 100%;
    top: 50%;
    bottom: initial;
    right: 0;
    margin-top: -20px;
    opacity: 0; }
  .news-headline-box .flex-direction-nav .flex-prev,
  .news-headline-box .flex-direction-nav .flex-next {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    line-height: 40px; }
  .news-headline-box .flexslider:hover .flex-direction-nav {
    opacity: 1; }
  .news-headline-box .thumb-post h2 a,
  .news-headline-box ul.small-posts > li h2 a {
    color: #f1f1f1; }
  .news-headline-box ul.small-posts {
    margin-top: 0; }
    .news-headline-box ul.small-posts > li {
      margin-bottom: 20px; }
    .news-headline-box ul.small-posts > li:last-child {
      margin-bottom: 0; }
    .news-headline-box ul.small-posts ul.post-tags li i {
      color: #f1f1f1; }
  .news-headline-box .list-box {
    padding: 25px;
    background: #333333; }
  .news-headline-box .row-list {
    padding-top: 30px;
    border-top: 1px solid #333333; }

.video-line {
  margin-bottom: 30px; }
  .video-line > h1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1; }

.categories-box {
  overflow: hidden; }
  .categories-box .news-post {
    margin-bottom: 0; }
  .categories-box a.more {
    margin-bottom: 25px;
    color: #00A7B3;
    font-size: 12px;
    font-family: "Open Sans", sans-serif; }
  .categories-box a.more:hover {
    text-decoration: underline !important; }

a.category {
  background: #00A7B3;
  display: inline-block;
  color: #fff !important;
  font-size: 11px;
  padding: 1px 10px;
  margin-right: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer; }

a.category:hover {
  opacity: 0.8; }
/* 
a.category-technologia {
  background: #f44336; }

a.category-kosmos {
  background: #1b82d6; }

a.category-spacex {
  background: #1b82d6; }

a.category-samochodyelektryczne {
  background: #7eb943; }

a.category-strimi {
  background: #7eb943; }

a.category-nauka {
  background: #aa35d6; }

a.category-android {
  background: #d6ac1b; }

a.category-polish {
  background: #d6ac1b; }

a.category-astronomia {
  background: #000000; }

a.category-food {
  background: #32b47b; }

a.category-kultura {
  background: #1F2F16; }

a.category-ekonomia {
  background: #427AA1; }

a.category-news {
  background: #A3BCF9; }


a.category-technology {
  background: #f44336; }

a.category-science {
  background: #aa35d6; }

a.category-space {
  background: #1b82d6; } */

.title-section {
  margin-bottom: 20px;
  position: relative; }
  .title-section h1 {
    color: #212121;
    padding-bottom: 16px;
    border-bottom: 1px solid #f1f1f1;
    margin: 0; }
    .title-section h1 i {
      font-size: 15px;
      margin-left: 7px; }

.title-section.second-style {
  text-align: center;
  margin-bottom: 40px; }
  .title-section.second-style h1 {
    font-size: 40px;
    text-transform: initial; }

button.mfp-close, button.mfp-arrow, a.zoom {
  outline: none; }

.owl-carousel {
  margin-left: -15px;
  margin-right: -15px; }
  .owl-carousel .item {
    padding: 0 15px; }
  .owl-carousel .news-post {
    margin-bottom: 15px; }

.owl-theme .owl-controls .owl-pagination {
  display: none !important; }

.owl-carousel {
  width: auto; }

.owl-theme .owl-controls {
  margin-top: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -60px;
  margin-right: 12px; }
  .owl-theme .owl-controls .owl-buttons div {
    font-size: 11px;
    color: #565656;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    background: transparent;
    border: 1px solid #cccccc;
    margin-left: 2px;
    outline: none;
    padding: 0;
    opacity: 1;
    margin: 0 3px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; }
  .owl-theme .owl-controls .owl-buttons div:hover {
    color: #fff;
    background: #00A7B3;
    border: 1px solid #00A7B3; }
  .owl-theme .owl-controls .owl-buttons div.owl-prev:after {
    content: '\f104';
    font-family: 'FontAwesome';
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #565656; }
  .owl-theme .owl-controls .owl-buttons div.owl-next:after {
    content: '\f105';
    font-family: 'FontAwesome';
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #565656; }
  .owl-theme .owl-controls .owl-buttons div.owl-prev:hover:after {
    color: #fff; }
  .owl-theme .owl-controls .owl-buttons div.owl-next:hover:after {
    color: #fff; }

.masonry-box .iso-call {
  margin: -15px -15px 15px; }
  .masonry-box .iso-call .news-post {
    width: 33.333333%;
    padding: 15px;
    margin: 0; }

.masonry-box .iso-call.colum-4 .news-post {
  width: 25%; }

.center-button {
  padding: 10px 0;
  text-align: center; }

a.load-more {
  color: #fff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  padding: 10px 25px;
  background: #00A7B3; }
  a.load-more i {
    margin-left: 7px; }

a.load-more:hover {
  opacity: 0.85; }

.combined-fullwidth {
  margin-bottom: 60px !important; }
  .combined-fullwidth ul.small-posts > li {
    margin-bottom: 5px; }

/*-------------------------------------------------- */
/* 1. Slider news
/*------------------------------------------------- */
.slider-news {
  margin-bottom: 40px; }
  .slider-news img {
    width: 100%;
    height: auto; }
  .slider-news .slider-caption {
    position: absolute;
    width: 40%;
    bottom: 0px;
    height: 100%;
    right: 0;
    padding: 30px;
    background: rgba(245, 245, 245, 0.95); }
    .slider-news .slider-caption h2 {
      margin-bottom: 5px;
      margin-top: 0px;
      font-size: 22px; }
      .slider-news .slider-caption h2 a {
        color: #212121; }
      .slider-news .slider-caption h2 a:hover {
        opacity: 0.85; }
    .slider-news .slider-caption p {
      margin-bottom: 0;
      max-width: 400px; }
    .slider-news .slider-caption a.category {
      margin-bottom: 12px; }
  .slider-news .flex-control-paging {
    display: none; }
  .slider-news .flex-control-paging li a {
    background: #212121;
    padding: 3px 7px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 10px; }
  .slider-news .flex-control-paging li a:hover,
  .slider-news .flex-control-paging li a.flex-active {
    background: #00A7B3;
    color: #fff; }

.slider-widget {
  overflow: hidden; }
  .slider-widget ul {
    margin-top: 16px; }
  .slider-widget img {
    width: 100%;
    height: auto; }
  .slider-widget .flex-control-paging {
    display: none; }
  .slider-widget .flex-direction-nav {
    bottom: 2px;
    right: 2px;
    opacity: 0; }
  .slider-widget .flexslider:hover .flex-direction-nav {
    opacity: 1; }
  .slider-widget .flex-direction-nav li a {
    background: #fff !important; }
  .slider-widget .flex-direction-nav li a:after {
    color: #343434 !important; }
  .slider-widget .slider-caption {
    position: absolute;
    width: 280px;
    bottom: 0px;
    width: 100%;
    left: 0;
    padding: 15px;
    background: rgba(17, 17, 17, 0.95);
    background: -webkit-linear-gradient(legacy-direction(rgba(17, 17, 17, 0)), rgba(17, 17, 17, 0.95));
    background: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.95)); }
    .slider-widget .slider-caption h2 {
      margin-bottom: -3px !important;
      font-size: 14px;
      font-weight: 400; }
      .slider-widget .slider-caption h2 a {
        color: #fff; }
      .slider-widget .slider-caption h2 a:hover {
        opacity: 0.85; }
    .slider-widget .slider-caption ul.post-tags {
      margin: 0; }
      .slider-widget .slider-caption ul.post-tags li {
        color: #e1e1e1; }
        .slider-widget .slider-caption ul.post-tags li i {
          color: #fff; }
        .slider-widget .slider-caption ul.post-tags li a {
          color: #e1e1e1; }
    .slider-widget .slider-caption a.category {
      margin-bottom: 5px; }

.news-headline2 .flex-direction-nav {
  top: 50%;
  right: 0px;
  width: 100%;
  height: 40px;
  margin-top: -10px;
  bottom: inherit;
  opacity: 0; }

.news-headline2 .flexslider:hover .flex-direction-nav {
  opacity: 1; }

.news-headline2 .flex-direction-nav li a {
  width: 40px;
  height: 40px;
  line-height: 40px; }

.news-headline2 .flex-direction-nav li a:after {
  font-size: 20px; }

/*-------------------------------------------------- */
/* 1. Standart post
/*------------------------------------------------- */
.news-post {
  margin-bottom: 30px; }

/* post tags list style */
ul.post-tags {
  margin-bottom: 8px; 
}
ul.post-tags li {
  display: inline-block;
  margin-right: 7px;
  color: #999;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
}

ul.post-tags li i {
  font-size: 12px;
  color: #343434;
  margin-right: 5px; 
}

ul.post-tags li a {
  color: #999; 
}

ul.post-tags li a:hover {
  color: #00A7B3; 
}

ul.post-tags li:last-child {
  margin-right: 0; 
}

.standart-post .post-image {
  position: relative;
  margin-bottom: 14px; 
  overflow: hidden;}
  .standart-post .post-image a {
    display: block; }
    .standart-post .post-image a img {
      width: 100%;
      height: 200px;
      object-fit: cover; 
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;}
      .standart-post .post-image a img:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
  .standart-post .post-image span.categories {
    display: inline-flex;
    position: absolute;
    left: 0;
    bottom: 0px; 
  }

.standart-post h2 {
  font-weight: 600;
  line-height: 24px;
  text-transform: initial;
  margin-bottom: 2px;
  margin-top: 0px; }
  .standart-post h2 a {
    color: #212121; }
  .standart-post h2 a:hover {
    color: #00A7B3; }

.video-post .post-image {
  position: relative;
  margin-bottom: 14px; }
  .video-post .post-image a {
    display: block; }
    .video-post .post-image a img {
      width: 100%;
      height: auto; }
  .video-post .post-image i {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    top: 50%;
    font-size: 20px;
    color: #fff;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.3);
    line-height: 60px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.video-post h2 {
  font-weight: 600;
  line-height: 24px;
  text-transform: initial;
  margin-bottom: 2px; }
  .video-post h2 a {
    color: #212121; }
  .video-post h2 a:hover {
    color: #00A7B3; }

.alternative-post {
  text-align: center; }
  .alternative-post .post-image {
    position: relative;
    margin-bottom: 10px; }
    .alternative-post .post-image a {
      display: block; }
      .alternative-post .post-image a img {
        width: 100%;
        height: auto; }
    .alternative-post .post-image a.category {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0; }
    .alternative-post .post-image h2 {
      position: absolute;
      bottom: -3px;
      left: 30px;
      right: 30px;
      font-weight: 600;
      line-height: 24px;
      text-transform: initial;
      margin: 0px;
      padding: 10px;
      background: #fff;
      z-index: 2;
      text-align: center; }
      .alternative-post .post-image h2 a {
        color: #212121; }
      .alternative-post .post-image h2 a:hover {
        color: #00A7B3; }

.thumb-post {
  text-align: center; }
  .thumb-post .post-image {
    position: relative;
    margin-bottom: 14px; }
    .thumb-post .post-image a {
      display: block; }
      .thumb-post .post-image a img {
        width: 100%;
        height: auto; }
  .thumb-post h2 {
    font-weight: 400;
    line-height: 20px;
    font-size: 13px;
    text-transform: initial;
    margin-bottom: 2px; }
    .thumb-post h2 a {
      color: #212121; }
    .thumb-post h2 a:hover {
      color: #00A7B3; }

.image-post {
  position: relative;
  overflow: hidden; }
  .image-post img {
    width: 100%;
    height: auto;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out; }
  .image-post .hover-box {
    position: absolute;
    width: 100%;
    padding: 20px;
    bottom: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.95);
    background: -webkit-linear-gradient(legacy-direction(rgba(17, 17, 17, 0)), rgba(17, 17, 17, 0.95));
    background: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.95)); }
    .image-post .hover-box a.category {
      margin-bottom: 10px; }
    .image-post .hover-box ul.post-tags li {
      color: #fff; }
      .image-post .hover-box ul.post-tags li i {
        color: #fff; }
      .image-post .hover-box ul.post-tags li a {
        color: #fff; }
  .image-post h2 {
    font-weight: 400;
    line-height: 20px;
    text-transform: initial;
    margin-bottom: 2px;
    color: #fff; }
    .image-post h2 a {
      color: #fff; }
    .image-post h2 a:hover {
      opacity: 0.8; }

.image-post:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1); }

.large-post .post-image {
  position: relative;
  margin-bottom: 14px; }
  .large-post .post-image a {
    display: block; }
    .large-post .post-image a img {
      width: 100%;
      height: auto; }
  .large-post .post-image a.category {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0; }

.large-post h2 {
  font-weight: 600;
  line-height: 24px;
  text-transform: initial;
  margin-bottom: 2px; }
  .large-post h2 a {
    color: #212121; }
  .large-post h2 a:hover {
    color: #00A7B3; }

.large-image-post {
  position: relative;
  overflow: hidden;
  margin-bottom: 0; }
  .large-image-post img {
    width: 100%;
    height: auto;
    transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out; }
  .large-image-post .hover-box {
    position: absolute;
    width: 100%;
    padding: 60px 30px 30px;
    bottom: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.95);
    background: -webkit-linear-gradient(legacy-direction(transparent), rgba(0, 0, 0, 0.95));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.95)); }
    .large-image-post .hover-box a.category {
      margin-bottom: 15px; }
    .large-image-post .hover-box ul.post-tags li {
      color: #fff; }
      .large-image-post .hover-box ul.post-tags li i {
        color: #fff; }
      .large-image-post .hover-box ul.post-tags li a {
        color: #fff; }
  .large-image-post h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    color: #fff; }
    .large-image-post h2 a {
      color: #fff; }
    .large-image-post h2 a:hover {
      opacity: 0.8; }
  .large-image-post p {
    color: #fff;
    max-width: 640px;
    margin: 0 auto; }

.large-image-post:hover img {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03); }

.large-post {
  margin-bottom: 50px; }
  .large-post img {
    width: 100%;
    height: auto;
    margin-bottom: 30px; }
  .large-post iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 30px; }
  .large-post .post-content {
    padding: 0 30px; }
    .large-post .post-content h2 {
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 15px;
      line-height: 30px; }
    .large-post .post-content ul.post-tags {
      margin-bottom: 15px; }
      .large-post .post-content ul.post-tags li {
        font-size: 13px; }
    .large-post .post-content p {
      font-size: 14px;
      margin-bottom: 15px; }
  .large-post a.read-more {
    color: #fff;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    padding: 10px 25px;
    background: #00A7B3; }
    .large-post a.read-more i {
      margin-left: 7px; }
  .large-post a.read-more:hover {
    opacity: 0.85; }

.article-post .post-image {
  position: relative; }
  .article-post .post-image a {
    display: block; }
    .article-post .post-image a img {
      width: 100%;
      height: auto; }
  .article-post .post-image a.category {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0; }

.article-post h2 {
  font-weight: 600;
  line-height: 24px;
  text-transform: initial;
  margin-bottom: 2px;
  margin-top: 10px; }
  .article-post h2 a {
    color: #212121; }
  .article-post h2 a:hover {
    color: #00A7B3; }

ul.list-news {
  margin-top: 3px; }
  ul.list-news > li {
    display: block;
    border-bottom: 1px solid #e9e9e9;
    padding: 8px 15px;
    position: relative; }
    ul.list-news > li h2 {
      font-weight: 400;
      line-height: 24px;
      text-transform: initial;
      margin-bottom: -4px;
      color: #00A7B3;
      font-size: 13px;
      font-weight: 400 !important; }
      ul.list-news > li h2 a {
        color: #00A7B3; }
      ul.list-news > li h2 a:hover {
        opacity: 0.8; }
  ul.list-news > li:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #00A7B3;
    left: 0;
    top: 18px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  ul.list-news > li:last-child {
    border-bottom: none; }

ul.small-posts {
  margin-top: 15px; }
  ul.small-posts > li {
    display: block;
    margin-bottom: 10px;
    overflow: hidden; }
    ul.small-posts > li > a {
      float: left;
      width: 80px;
      margin-right: 20px; }
      ul.small-posts > li > a img {
        width: 100%;
        height: 80px;
        object-fit: cover; }
    ul.small-posts > li .post-cont {
      margin-left: 100px;
      padding-top: 5px; }
    ul.small-posts > li h2 {
      text-transform: initial;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 3px; 
      margin-top: 0px;
    }
      ul.small-posts > li h2 a {
        color: #565656; }
      ul.small-posts > li h2 a:hover {
        color: #00A7B3; }
  ul.small-posts > li:last-child {
    margin-bottom: 0; }

.posts-block ul.small-posts {
  margin-top: 0; }

/*-------------------------------------------------- */
/* 1. Sidebar
/*------------------------------------------------- */
.sidebar {
  padding-left: 10px; }
  .sidebar .widget {
    margin-bottom: 30px; }
  .sidebar h1 {
    color: #565656;
    font-weight: 600;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #efefef; }
  .sidebar .search-widget input[type="search"] {
    margin: 0;
    width: 100%;
    padding: 16px 20px;
    background: #fff;
    border: 1px solid #f3f3f3;
    color: #565656;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  .sidebar .search-widget button {
    background: transparent;
    border: none;
    float: right;
    margin-top: -42px;
    margin-right: 15px;
    position: relative;
    z-index: 2; }
  .sidebar .search-widget button i {
    color: #212121;
    font-size: 13px; }
  .sidebar .social-widget p {
    margin-bottom: 12px; }
  .sidebar .social-widget ul.social-share {
    overflow: hidden; }
    .sidebar .social-widget ul.social-share li {
      float: left;
      width: 25%;
      list-style: none; }
      .sidebar .social-widget ul.social-share li a {
        padding: 14px 10px;
        width: 100%;
        color: #fff;
        font-size: 16px;
        text-align: center; }
        .sidebar .social-widget ul.social-share li a i {
          transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out; }
        .sidebar .social-widget ul.social-share li a span {
          font-size: 12px;
          display: block;
          margin: 0;
          font-family: "Open Sans", sans-serif;
          letter-spacing: 0.5px; }
      .sidebar .social-widget ul.social-share li a.rss {
        background: #f0771e; }
      .sidebar .social-widget ul.social-share li a.facebook {
        background: #436feb; }
      .sidebar .social-widget ul.social-share li a.twitter {
        background: #43c9eb; }
      .sidebar .social-widget ul.social-share li a.google {
        background: #f14133; }
      .sidebar .social-widget ul.social-share li a:hover {
        opacity: 0.9; }
        .sidebar .social-widget ul.social-share li a:hover i {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg); }
  .sidebar .tabs-widget .nav-tabs {
    border: none; }
    .sidebar .tabs-widget .nav-tabs a.nav-item {
      width: 33.333333%;
      border: none;
      text-align: center;
      background: #00A7B3;
      color: #fff;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      padding: 14px 2px;
      background: #f44336;
      border-left: 1px solid rgba(31, 31, 31, 0.1); }
    .sidebar .tabs-widget .nav-tabs a:first-child {
      border-left: 1px solid transparent; }
    .sidebar .tabs-widget .nav-tabs a[aria-selected="true"] {
      background: #00A7B3; }
  .sidebar .tabs-widget .tab-content {
    padding: 20px;
    border: 1px solid #f1f1f1; }
    .sidebar .tabs-widget .tab-content ul.small-posts {
      margin: 0; }
  .sidebar .tags-widget ul.tags-list {
    overflow: hidden;
    padding-top: 3px; }
    .sidebar .tags-widget ul.tags-list li {
      display: inline-block;
      margin-bottom: 3px;
      margin-right: 3px;
      float: left; }
      .sidebar .tags-widget ul.tags-list li a {
        padding: 6px 20px;
        color: #565656;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        border: 1px solid #f1f1f1; }
      .sidebar .tags-widget ul.tags-list li a:hover {
        background: #00A7B3;
        border: 1px solid transparent;
        color: #fff; }
  .sidebar .archive-widget ul.archive-list li {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1; }
    .sidebar .archive-widget ul.archive-list li a {
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      color: #565656; }
      .sidebar .archive-widget ul.archive-list li a span {
        font-weight: 700;
        color: #f44336; }
    .sidebar .archive-widget ul.archive-list li a:hover {
      color: #00A7B3; }
  .sidebar .archive-widget ul.archive-list li:first-child {
    padding-top: 0; }
  .sidebar .archive-widget ul.archive-list li:last-child {
    padding-bottom: 0;
    border-bottom: none; }
  .sidebar .advertisement {
    text-align: center;
    margin-bottom: 30px; }

/*-------------------------------------------------- */
/*  Single Post
/*------------------------------------------------- */
.single-post > h1 {
  font-size: 2.25em;
  margin-bottom: 12px;
  padding: 0 5px; }

.single-post ul.post-tags {
  /* margin-bottom: 20px; */
  padding: 0 5px; }
  .single-post ul.post-tags li {
    color: #777;
    font-size: 14px;
    margin-right: 15px; }
    .single-post ul.post-tags li i {
      font-size: 14px;
      margin-right: 10px; }

.single-post img {
  max-width: 100%;
  height: auto;
  /* margin-bottom: 30px;  */
}

.single-post .text-boxes {
  padding: 0 5px; }
  .single-post .text-boxes ul.tags-list {
    overflow: hidden;
    padding-top: 3px;
    margin-bottom: 30px; }
    .single-post .text-boxes ul.tags-list li {
      display: inline-block;
      margin-bottom: 3px;
      margin-right: 3px;
      float: left; }
      .single-post .text-boxes ul.tags-list li a {
        padding: 6px 20px;
        color: #565656;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        border: 1px solid #f1f1f1; }
      .single-post .text-boxes ul.tags-list li a:hover {
        background: #00A7B3;
        border: 1px solid transparent;
        color: #fff; }

.single-post p {
  color: #444;
  margin-bottom: 1em;
  font-size: 1.125em;
  line-height: 1.6em; 
  text-align: justify;
  }
.single-post li {
  color: #444;
  font-weight: 300;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.6em; 
  text-align: justify;
  }



.single-post p a {
    color: #00A7B3;
    text-decoration: none !important; }

.single-post blockquote {
  /* text-align: center; */
  padding: 30px 25px;
  background: #f9f9f9;
  border-left: 10px solid #00A7B3;
  margin-bottom: 30px;
  quotes: "\201C""\201D""\2018""\2019";

}

.single-post blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

  .single-post blockquote p {
    color: rgb(141, 140, 140);
    font-size: 20px;
    font-style: italic;
    line-height: 32px;
    display: inline;
    margin-bottom: 0; }

.single-post .flex-control-nav {
  display: block;
  bottom: 60px;
  top: initial;
  width: 100%;
  text-align: center;
  right: initial;
  left: 0; }
  .single-post .flex-control-nav li {
    margin: 0 5px; }
  .single-post .flex-control-nav li a {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-indent: 99999px !important; }
  .single-post .flex-control-nav li a.flex-active {
    background: #fff; }

.single-post .flex-direction-nav {
  padding: 0 10px;
  width: 100%;
  top: 50%;
  bottom: initial;
  right: 0;
  margin-top: -20px;
  opacity: 0; }

.single-post .flex-direction-nav .flex-prev,
.single-post .flex-direction-nav .flex-next {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px; }

.single-post .flexslider:hover .flex-direction-nav {
  opacity: 1; }

.single-post .format-post-audio iframe {
  width: 100%;
  height: 160px;
  margin-bottom: 30px; }

.single-post .format-post-video iframe {
  width: 100%;
  height: 420px;
  margin-bottom: 30px; }

.share-post-box {
  padding: 0 30px;
  margin-bottom: 30px; }
  .share-post-box ul.share-box {
    overflow: hidden; }
    .share-post-box ul.share-box li {
      list-style: none;
      float: left; }
      .share-post-box ul.share-box li a {
        padding: 15px 36px;
        color: #fff;
        font-size: 13px;
        font-family: "Open Sans", sans-serif; }
        .share-post-box ul.share-box li a span {
          margin-left: 8px; }
        .share-post-box ul.share-box li a i {
          font-size: 17px; }
      .share-post-box ul.share-box li a:hover {
        opacity: 0.7; }
      .share-post-box ul.share-box li a.facebook {
        background: #436feb; }
      .share-post-box ul.share-box li a.twitter {
        background: #43c9eb; }
      .share-post-box ul.share-box li a.google {
        background: #f14133; }
      .share-post-box ul.share-box li a.linkedin {
        background: #1879dd; }
      .share-post-box ul.share-box li a.rss {
        background: #f0771e; }

.author-profile {
  margin: 30px 0; }
  .author-profile .author-box {
    overflow: hidden;
    padding: 30px;
    border: 2px solid #f1f1f1; }
    .author-profile .author-box img {
      float: left;
      width: 100px;
      height: 100px;
      object-fit: cover;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .author-profile .author-box .author-content {
      margin-left: 130px; }
      .author-profile .author-box .author-content h4 {
        color: #212121;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        margin: 0 0 8px; }
        .author-profile .author-box .author-content h4 a {
          color: #00A7B3;
          font-size: 13px;
          margin-left: 10px; }
        .author-profile .author-box .author-content h4 a:before {
          content: '/';
          color: #00A7B3;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          margin-right: 10px; }
        .author-profile .author-box .author-content h4 a:hover {
          opacity: 0.7; }
      .author-profile .author-box .author-content ul.author-social li {
        display: inline-block;
        margin-right: 5px; }
        .author-profile .author-box .author-content ul.author-social li a {
          font-size: 15px;
          color: #565656; }
        .author-profile .author-box .author-content ul.author-social li a:hover {
          color: #00A7B3; }

.comment-area-box {
  padding-top: 20px; }
  .comment-area-box > ul {
    padding-top: 10px; }
    .comment-area-box > ul li {
      list-style: none; }
      .comment-area-box > ul li .comment-box {
        overflow: hidden;
        margin-bottom: 20px; }
        .comment-area-box > ul li .comment-box img {
          margin-left: 5px;
          object-fit: cover;
          width: 40px;
          height: 40px;
          float: left;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
        .comment-area-box > ul li .comment-box .comment-content {
          margin-left: 60px; }
          .comment-area-box > ul li .comment-box .comment-content h4 {
            color: #212121;
            font-size: 14px;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            margin: 0; }
          .comment-area-box > ul li .comment-box .comment-content span, .comment-area-box > ul li .comment-box .comment-content a {
            font-size: 12px;
            color: #565656;
            font-family: "Open Sans", sans-serif;
            display: inline-block;
            margin: 0 0 5px; }
            .comment-area-box > ul li .comment-box .comment-content span i, .comment-area-box > ul li .comment-box .comment-content a i {
              font-size: 15px;
              margin-right: 6px; }
          .comment-area-box > ul li .comment-box .comment-content a {
            /* float: right; */
            color: #00A7B3;
            font-size: 0.85em;
            margin: 0px;
           }
          .comment-area-box > ul li .comment-box .comment-content a:hover {
            color: rgb(2, 114, 122); }
          .comment-area-box > ul li .comment-box .comment-content p {
            margin-bottom: 0px; }
          .comment-area-box > ul li .comment-box .comment-content ul li {
            list-style: circle; }
          .comment-area-box > ul li .comment-box .comment-content blockquote {
            margin-left: 5px; 
            margin-top: 5px;
            padding-left: 5px;
            background: #f2f2f2;
            border-left: 1px solid #00A7B3; }
  .comment-area-box ul.depth .comment-box {
    padding-left: 130px; }

.contact-form-box .title-section {
  padding-top: 20px;
  margin-bottom: 30px; }
  .contact-form-box .title-section h1 span.email-not-published {
    float: right;
    font-size: 13px;
    text-transform: initial;
    font-weight: 400;
    margin-top: 4px; }

.contact-form-box > span {
  display: block;
  font-size: 12px;
  color: #565656;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-style: italic;
  margin: 0 0 25px; }

.comment-reply-form textarea {
    width: 100%;
    padding: 12px 12px;
    background: transparent;
    color: #565656;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    border: 1px solid #e1e1e1;
    margin: 20px 0 15px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
.comment-reply-form button {
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 12px 25px;
  background: #00A7B3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin: 0;
  border: none;
  outline: none; }
  .comment-reply-form button i {
    display: inline-block;
    margin-right: 10px; }
.comment-reply-form button:hover {
  opacity: 0.85; }


.contact-form-box #comment-form {
  margin: 0 0 50px; }
  .contact-form-box #comment-form label {
    color: #212121;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    display: block;
    margin-bottom: 8px;
    font-weight: 600; }
  .contact-form-box #comment-form input[type="text"],
  .contact-form-box #comment-form textarea {
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    color: #565656;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    border: 1px solid #e1e1e1;
    margin: 0 0 30px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  .contact-form-box #comment-form textarea {
    height: 120px;
    margin-bottom: 30px; }
  .contact-form-box #comment-form button {
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 12px 25px;
    background: #00A7B3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    margin: 0;
    border: none;
    outline: none; }
    .contact-form-box #comment-form button i {
      display: inline-block;
      margin-right: 10px; }
  .contact-form-box #comment-form button:hover {
    opacity: 0.85; }

.single-post-gal {
  margin: -40px 0 30px;
  width: 100%;
  overflow: hidden; }
  .single-post-gal .flexslider img {
    width: 100%;
    height: auto; }
  .single-post-gal .flexslider .flex-control-nav {
    display: block;
    bottom: 60px;
    top: initial;
    width: 100%;
    text-align: center;
    right: initial;
    left: 0; }
    .single-post-gal .flexslider .flex-control-nav li {
      margin: 0 5px; }
    .single-post-gal .flexslider .flex-control-nav li a {
      width: 10px;
      height: 10px;
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.8);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      text-indent: 99999px !important; }
    .single-post-gal .flexslider .flex-control-nav li a.flex-active {
      background: #fff; }
  .single-post-gal .flexslider .flex-direction-nav {
    padding: 0 10px;
    width: 100%;
    top: 50%;
    bottom: initial;
    right: 0;
    margin-top: -20px;
    opacity: 1; }
  .single-post-gal .flexslider .flex-direction-nav .flex-prev,
  .single-post-gal .flexslider .flex-direction-nav .flex-next {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    line-height: 40px; }
  .single-post-gal .flexslider .flexslider:hover .flex-direction-nav {
    opacity: 1; }

/*-------------------------------------------------- */
/*  Forums
/*------------------------------------------------- */
.forum-box .search-box {
  padding: 10px 30px 30px; }

.forum-box p.line-for-loggin {
  color: #fff;
  padding: 10px 20px;
  background: #f44336;
  font-size: 13px; }

.forum-table {
  margin-bottom: 30px; }
  .forum-table .table-head {
    overflow: hidden;
    background: #222222; }
    .forum-table .table-head > div {
      float: left;
      padding: 12px 16px; }
      .forum-table .table-head > div span {
        color: #ffffff;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700; }
  .forum-table div.first-col {
    width: 55%; }
    .forum-table div.first-col a {
      font-size: 14px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700; }
    .forum-table div.first-col a:hover {
      color: #00A7B3; }
  .forum-table div.second-col {
    width: 20%; }
  .forum-table div.third-col {
    width: 25%;
    text-align: right; }
  .forum-table div.table-row {
    overflow: hidden;
    background: #fafafa;
    position: relative; }
    .forum-table div.table-row > div {
      float: left;
      padding: 15px 15px; }
      .forum-table div.table-row > div span {
        color: #ffffff;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700; }
      .forum-table div.table-row > div h2 {
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #212121;
        margin: 0 0 8px; }
        .forum-table div.table-row > div h2 a {
          color: #212121; }
        .forum-table div.table-row > div h2 a:hover {
          color: #00A7B3; }
      .forum-table div.table-row > div p {
        display: block;
        margin: 0;
        font-size: 14px; }
    .forum-table div.table-row div.second-col span {
      color: #212121; }
    .forum-table div.table-row div.second-col p {
      font-size: 11px;
      text-transform: uppercase; }
    .forum-table div.table-row div.third-col img {
      width: 60px;
      float: right;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin-left: 17px; }
    .forum-table div.table-row div.third-col p {
      font-size: 11px;
      line-height: 16px; }
      .forum-table div.table-row div.third-col p a {
        color: #00A7B3;
        text-transform: inherit; }
    .forum-table div.table-row div.forum-post {
      overflow: hidden;
      float: left;
      width: 80%; }
      .forum-table div.table-row div.forum-post img {
        max-width: 45px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        float: left; }
      .forum-table div.table-row div.forum-post .post-autor-date {
        margin-left: 60px; }
        .forum-table div.table-row div.forum-post .post-autor-date h2 {
          color: #212121;
          font-size: 14px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          line-height: 16px;
          margin: 0 0 3px; }
          .forum-table div.table-row div.forum-post .post-autor-date h2 a {
            color: #212121; }
          .forum-table div.table-row div.forum-post .post-autor-date h2 a:hover {
            color: #00A7B3; }
        .forum-table div.table-row div.forum-post .post-autor-date p {
          font-size: 11px;
          line-height: 16px; }
          .forum-table div.table-row div.forum-post .post-autor-date p a {
            color: #00A7B3;
            text-transform: inherit; }
    .forum-table div.table-row div.forum-post.comment-post {
      width: 100%; }
      .forum-table div.table-row div.forum-post.comment-post img {
        max-width: 100px; }
      .forum-table div.table-row div.forum-post.comment-post .post-autor-date {
        margin-left: 120px; }
        .forum-table div.table-row div.forum-post.comment-post .post-autor-date p span {
          color: #565656; }
        .forum-table div.table-row div.forum-post.comment-post .post-autor-date div.content-post-area p {
          margin-top: 10px;
          font-size: 14px;
          line-height: 22px; }
    .forum-table div.table-row div.forum-topics {
      width: 20%;
      float: left;
      padding-top: 25px;
      padding-bottom: 25px; }
      .forum-table div.table-row div.forum-topics span {
        color: #212121; }
      .forum-table div.table-row div.forum-topics p {
        font-size: 11px;
        text-transform: uppercase;
        margin: 0; }
  .forum-table div.table-row:after {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #f0f0f0; }
  .forum-table div.table-row:first-child:after {
    border-top: none; }
  .forum-table div.table-title {
    background: #212121;
    padding: 20px; }
    .forum-table div.table-title h2 {
      font-size: 14px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
      line-height: 24px; }
    .forum-table div.table-title p {
      color: #aaa;
      margin: 0;
      font-size: 13px; }
  .forum-table p.posted-in-category {
    font-size: 12px;
    margin: 7px 0;
    padding-left: 20px; }
    .forum-table p.posted-in-category a {
      color: #00A7B3; }

form.search-form {
  position: relative;
  margin: 0; }
  form.search-form input[type="text"] {
    border: 1px solid #eeeeee;
    padding: 10px;
    color: #565656;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    width: 100%;
    margin: 0 !important; }
  form.search-form button {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 13px;
    padding: 0;
    font-size: 13px;
    color: #565656; }

/*-------------------------------------------------- */
/*  Author pages
/*------------------------------------------------- */
ul.author-list {
  margin-bottom: 30px; }
  ul.author-list > li {
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 30px; }
    ul.author-list > li .autor-box {
      padding: 30px;
      background: #fafafa;
      border: 1px solid transparent;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
      ul.author-list > li .autor-box img {
        max-width: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        float: left; }
      ul.author-list > li .autor-box .autor-content {
        margin-left: 120px; }
        ul.author-list > li .autor-box .autor-content .autor-title {
          overflow: hidden;
          margin-bottom: 10px; }
          ul.author-list > li .autor-box .autor-content .autor-title h1 {
            font-size: 16px;
            margin-bottom: 6px;
            font-weight: 600; }
            ul.author-list > li .autor-box .autor-content .autor-title h1 span:after {
              content: '/';
              margin: 0 6px; }
            ul.author-list > li .autor-box .autor-content .autor-title h1 a {
              text-decoration: underline;
              display: inline-block;
              color: #00A7B3; }
            ul.author-list > li .autor-box .autor-content .autor-title h1 a:hover {
              opacity: 0.7; }
          ul.author-list > li .autor-box .autor-content .autor-title ul.autor-social li {
            display: inline-block;
            margin-right: 7px; }
            ul.author-list > li .autor-box .autor-content .autor-title ul.autor-social li a {
              color: #565656;
              font-size: 13px; }
            ul.author-list > li .autor-box .autor-content .autor-title ul.autor-social li a:hover {
              color: #00A7B3; }
        ul.author-list > li .autor-box .autor-content p {
          margin: 0; }
    ul.author-list > li .autor-last-line {
      overflow: hidden;
      padding: 10px 30px; }
      ul.author-list > li .autor-last-line ul.autor-tags {
        float: left; }
        ul.author-list > li .autor-last-line ul.autor-tags li {
          display: inline-block;
          margin-right: 3px; }
          ul.author-list > li .autor-last-line ul.autor-tags li span {
            display: inline-block;
            color: #565656;
            font-size: 13px;
            font-family: "Open Sans", sans-serif;
            line-height: 30px;
            padding-right: 3px; }
            ul.author-list > li .autor-last-line ul.autor-tags li span i {
              margin-right: 10px;
              color: #565656;
              font-size: 14px; }
          ul.author-list > li .autor-last-line ul.autor-tags li a {
            color: #565656;
            font-size: 12px;
            font-family: "Open Sans", sans-serif;
            padding: 6px 10px;
            border: 1px solid #f0f0f0; }
          ul.author-list > li .autor-last-line ul.autor-tags li a:hover {
            color: #ffffff;
            background: #00A7B3;
            border-color: #00A7B3; }
      ul.author-list > li .autor-last-line a.autor-site {
        float: right;
        text-decoration: underline;
        color: #33a3f1;
        font-size: 13px;
        line-height: 30px;
        font-family: "Open Sans", sans-serif; }
      ul.author-list > li .autor-last-line a.autor-site:hover {
        opacity: 0.7; }
  ul.author-list > li:hover .autor-box {
    border-color: #999999; }

/*-------------------------------------------------- */
/*  404 error page
/*------------------------------------------------- */
.error-banner {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px 30px;
  border: 1px solid #f1f1f1; }
  .error-banner h1 {
    color: #f44336;
    font-size: 48px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 7px; }
    .error-banner h1 span {
      font-weight: 900; }
  .error-banner p {
    font-size: 16px;
    margin-bottom: 3px; }

div.search-box {
  padding: 0 30px;
  margin-bottom: 35px; }

.search-results-banner {
  margin-bottom: 30px;
  padding: 25px 30px;
  border: 1px solid #f1f1f1; }
  .search-results-banner h1 {
    font-size: 34px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 7px; }
    .search-results-banner h1 span {
      color: #f44336;
      font-weight: 900; }

.archive-box {
  margin-bottom: 30px;
  padding: 25px 30px;
  border: 1px solid #f1f1f1; }
  .archive-box h1 {
    font-size: 34px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 7px; }
    .archive-box h1 span {
      color: #f44336;
      font-weight: 900; }

.privacy-policy {
  margin-bottom: 50px; }
  .privacy-policy h1 {
    font-size: 22px; }
  .privacy-policy p {
    margin-bottom: 30px; }
  .privacy-policy span.published {
    display: inline-block;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 30px; }
  .privacy-policy .title-section {
    margin-bottom: 10px; }

/*------------------------------------------------- */
/* =  Contact */
/*------------------------------------------------- */
.contact-info-box {
  margin-bottom: 40px; }
  .contact-info-box #map {
    height: 360px;
    margin-bottom: 25px; }
  .contact-info-box p {
    padding: 0 20px; }

#contact-form {
  margin: 0 0 50px; }
  #contact-form label {
    color: #212121;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    display: block;
    margin-bottom: 8px;
    font-weight: 600; }
  #contact-form input[type="text"],
  #contact-form textarea {
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    color: #565656;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    border: 1px solid #e1e1e1;
    margin: 0 0 30px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  #contact-form textarea {
    height: 120px;
    margin-bottom: 30px; }
  #contact-form button {
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 12px 25px;
    background: #00A7B3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    margin: 0;
    border: none;
    outline: none; }
    #contact-form button i {
      display: inline-block;
      margin-right: 10px; }
    #contact-form #msg {
      margin-top: 20px;
    }
  #contact-form button:hover {
    opacity: 0.85; }

/*------------------------------------------------- */
/* =  Contact */
/*------------------------------------------------- */
#register-form,
#login-form {
  margin: 0 0 50px; }
  #register-form p,
  #login-form p {
    margin-bottom: 25px; }
  #register-form label,
  #login-form label {
    color: #212121;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    display: block;
    margin-bottom: 8px;
    font-weight: 600; }
  #register-form input[type="text"],
  #register-form input[type="password"],
  #login-form input[type="text"],
  #login-form input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    color: #565656;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    border: 1px solid #e1e1e1;
    margin: 0 0 30px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  #register-form .user-thumbnail,
  #login-form .user-thumbnail {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden; }
    #register-form .user-thumbnail input[type="file"],
    #login-form .user-thumbnail input[type="file"] {
      position: relative;
      z-index: 2;
      opacity: 0;
      width: 200px;
      height: 60px;
      float: left;
      margin-right: 30px;
      margin-top: 20px; }
    #register-form .user-thumbnail input[type="file"] + span,
    #login-form .user-thumbnail input[type="file"] + span {
      position: absolute;
      top: 20px;
      left: 0;
      width: 200px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      font-family: "Open Sans", sans-serif;
      text-transform: capitalize;
      font-size: 13px;
      background: #00A7B3;
      color: #fff;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
    #register-form .user-thumbnail input[type="file"]:hover + span,
    #login-form .user-thumbnail input[type="file"]:hover + span {
      opacity: 0.8; }
    #register-form .user-thumbnail .thumb-holder,
    #login-form .user-thumbnail .thumb-holder {
      width: 100px;
      height: 100px;
      border: 1px solid #e1e1e1;
      background: #f1f1f1;
      text-align: center;
      line-height: 100px;
      float: left; }
      #register-form .user-thumbnail .thumb-holder span,
      #login-form .user-thumbnail .thumb-holder span {
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
        font-size: 13px;
        font-weight: 700;
        color: #aaa; }
  #register-form button,
  #login-form button {
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 12px 25px;
    background: #00A7B3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    margin: 0;
    border: none;
    outline: none; }
    #register-form button i,
    #login-form button i {
      display: inline-block;
      margin-right: 10px; }
  #register-form button:hover,
  #login-form button:hover {
    opacity: 0.85; }

#login-form {
  margin: 0 0 20px; }
  #login-form label {
    color: #efefef; }
  #login-form input[type="text"],
  #login-form input[type="password"] {
    border: 1px solid #343434;
    color: #afafaf;
    margin: 0 0 20px; }

#loginModal {
  z-index: 9999999; }
  #loginModal .modal-dialog .modal-content {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background: #232323;
    border: none; }
    #loginModal .modal-dialog .modal-content .modal-body {
      padding: 30px; }
      #loginModal .modal-dialog .modal-content .modal-body .title-section h1 {
        color: #fff;
        border-bottom: 1px solid #343434; }
  #loginModal .modal-dialog {
    max-width: 370px;
    margin: 40px auto; }

/*-------------------------------------------------- */
/*  About Page
/*------------------------------------------------- */
.about-box {
  margin-bottom: 30px; }
  .about-box img {
    width: 100%;
    height: auto;
    margin-bottom: 30px; }
  .about-box p {
    font-size: 1.125em;
    margin-bottom: 25px; 
    text-align: justify; }

.team-box {
  margin-bottom: 50px; }
  .team-box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px; }
  .team-box h2 {
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 20px; }
  .team-box span {
    display: inline-block;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #999;
    margin: 0 0 30px; }

/*-------------------------------------------------- */
/*  Underconstruction page
/*------------------------------------------------- */
body.underconstruction {
  /*
   * Set a counter and get t length of the image path.
   */
  /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
  /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
  /*
     * Set a base background for 1x environments.
     */
  background: #111 url("../upload/others/back.jpg") center center no-repeat;
  background-size: cover;
  /*
     * Create an @2x-ish media query.
     */
  /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
  /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    body.underconstruction {
      background: #111 url("../upload/others/back@2x.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body.underconstruction {
      background: #111 url("../upload/others/back@2x.jpg") center center no-repeat;
      background-size: cover; } }
  body.underconstruction #container {
    padding: 100px 0;
    text-align: center; }
  body.underconstruction p {
    color: #fff;
    font-size: 15px;
    line-height: 26px; }
  body.underconstruction .logo-place {
    margin-bottom: 100px; }
    body.underconstruction .logo-place p {
      font-size: 11px;
      margin-top: 3px; }
  body.underconstruction form.subscribe {
    margin-bottom: 100px; }
    body.underconstruction form.subscribe h1 {
      font-size: 48px;
      font-weight: 400;
      color: #fff;
      letter-spacing: 0; }
      body.underconstruction form.subscribe h1 span {
        font-weight: 900; }
    body.underconstruction form.subscribe p {
      font-size: 17px;
      font-weight: 700;
      margin-bottom: 40px; }
    body.underconstruction form.subscribe input[type="text"] {
      display: block;
      width: 400px;
      max-width: 100%;
      padding: 12px 20px;
      background: #ffffff;
      color: #565656;
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      outline: none;
      border: 1px solid transparent;
      margin: 0 auto 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px; }
    body.underconstruction form.subscribe button {
      color: #fff;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      padding: 12px 25px;
      background: #00A7B3;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      margin: 0;
      border: none;
      outline: none; }
      body.underconstruction form.subscribe button i {
        display: inline-block;
        margin-right: 10px; }
    body.underconstruction form.subscribe button:hover {
      opacity: 0.85; }
  body.underconstruction div.social-box ul.social-icons {
    overflow: hidden; }
    body.underconstruction div.social-box ul.social-icons li {
      display: inline-block; }
      body.underconstruction div.social-box ul.social-icons li a {
        width: 40px;
        height: 40px;
        background: #232323;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        color: #fff; }
      body.underconstruction div.social-box ul.social-icons li a:hover {
        background: #00A7B3; }

/*------------------------------------------------- */
/* =  Footer */
/*------------------------------------------------- */
footer {
  /* padding-top: 60px; */
  background: #212121; }
  footer .up-footer {
    border-bottom: 1px solid #343434; }
    footer .up-footer .footer-widget {
      margin-bottom: 40px; }
      footer .up-footer .footer-widget > h1 {
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 30px; }
      footer .up-footer .footer-widget ul.social-icons {
        overflow: hidden; }
        footer .up-footer .footer-widget ul.social-icons li {
          float: left;
          list-style: none;
          margin-right: 2px; }
          footer .up-footer .footer-widget ul.social-icons li a {
            width: 40px;
            height: 40px;
            background: #333333;
            text-align: center;
            line-height: 40px;
            font-size: 14px;
            color: #ffffff; }
          footer .up-footer .footer-widget ul.social-icons li a:hover {
            background: #00A7B3; }
      footer .up-footer .footer-widget ul.small-posts > li .post-cont {
        padding-top: 0;
        margin-left: 90px; }
      footer .up-footer .footer-widget ul.small-posts > li h2 a {
        color: #ccc; }
      footer .up-footer .footer-widget ul.small-posts > li > a {
        width: 70px; }
      footer .up-footer .footer-widget ul.post-tags li i {
        color: #ccc; }
      footer .up-footer .footer-widget ul.list-news {
        margin-top: 0px; }
        footer .up-footer .footer-widget ul.list-news > li {
          border-bottom: 1px solid #333333; }
          footer .up-footer .footer-widget ul.list-news > li h2 a {
            color: #ccc; }
        footer .up-footer .footer-widget ul.list-news > li:before {
          background: #ccc; }
        footer .up-footer .footer-widget ul.list-news > li:last-child {
          border-bottom: none; }
    footer .up-footer .tags-widget ul.tags-list {
      overflow: hidden;
      padding-top: 3px; }
      footer .up-footer .tags-widget ul.tags-list li {
        display: inline-block;
        margin-bottom: 3px;
        margin-right: 3px;
        float: left; }
        footer .up-footer .tags-widget ul.tags-list li a {
          padding: 6px 15px;
          color: #ccc;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          border: 1px solid #333333; }
        footer .up-footer .tags-widget ul.tags-list li a:hover {
          background: #00A7B3;
          border: 1px solid transparent;
          color: #fff; }
    footer .up-footer .featured-widget .news-post {
      margin-bottom: 5px; }
      footer .up-footer .featured-widget .news-post h2 {
        margin-bottom: 8px;
        font-weight: 400; }
      footer .up-footer .featured-widget .news-post h2 a {
        color: #ccc; }
      footer .up-footer .featured-widget .news-post h2 a:hover {
        color: #00A7B3; }
  footer p {
    color: #aaa;
    font-size: 12px;
    margin-bottom: 20px; }
  footer .down-footer {
    padding: 40px 0; }
    footer .down-footer ul.list-footer {
      margin-bottom: 5px; }
      footer .down-footer ul.list-footer li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 5px; }
        footer .down-footer ul.list-footer li a {
          color: #fff;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          text-transform: uppercase; }
      footer .down-footer ul.list-footer li:last-child {
        margin-right: 0; }
    footer .down-footer p {
      color: #aaa;
      font-size: 12px;
      margin-bottom: 0; }
    footer .down-footer a.go-top {
      float: right;
      width: 35px;
      height: 35px;
      background: #333333;
      text-align: center;
      line-height: 35px;
      color: #fff;
      font-size: 14px;
      margin-top: -25px; }
    footer .down-footer a.go-top:hover {
      background: #00A7B3; }

/*-------------------------------------------------*/
/* =  Responsive Part
/*-------------------------------------------------*/
@media (max-width: 1199px) {
  .wide-news-heading .item {
    width: 25%; }
  .wide-news-heading .item.main-news {
    width: 50%; }
  .slider-news-fullwidth .flexslider .slider-caption h2 {
    font-size: 24px;
    line-height: 28px; }
  .masonry-box .iso-call.colum-4 .news-post {
    width: 33.33333%; }
  .share-post-box ul.share-box li a {
    padding: 15px 24px; }
  .single-post .format-post-video iframe {
    height: 340px; }
  header.style-4 .navbar-nav > li > a i {
    display: none; } }

@media (max-width: 991px) {
  .wide-news-heading .item {
    width: 33.33333%; }
  .wide-news-heading .item.main-news {
    width: 66.66666%; }
  .header-banner-place {
    text-align: center; }
    .header-banner-place a.navbar-brand {
      float: none;
      margin-bottom: 20px;
      margin-left: 0; }
    .header-banner-place .advertisement {
      float: none;
      text-align: center; }
  .navbar-dark .navbar-toggler,
  .navbar-light .navbar-toggler {
    margin: 10px 0;
    outline: none; }
  header.style-5 .navbar-dark .navbar-toggler {
    display: none !important; }
  .navbar-nav > li > a,
  .navbar-nav > li.active > a,
  header.style-3 .navbar-nav > li > a,
  header.style-4 .navbar-nav > li > a {
    padding: 8px 0 !important;
    outline: none; }
  .navbar-nav {
    border-top: 1px solid #333333;
    padding-top: 10px; }
  .navbar-nav > li > a:before {
    display: none; }
  .navbar-nav > li > a {
    background: transparent !important; }
  .navbar .form-inline,
  .navbar-nav > li > a i,
  .mega-posts-menu {
    display: none; }
  .megamenu {
    position: relative;
    top: initial;
    left: initial;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    border-top: none;
    padding: 10px;
    background: transparent; }
    .megamenu h2 {
      display: none; }
  .dropdown,
  .dropdown > li .dropdown.level2 {
    position: relative;
    top: initial;
    left: initial;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    border-top: none;
    width: 100%;
    background: transparent;
    border: none; }
    .dropdown li,
    .dropdown > li .dropdown.level2 li {
      border: none; }
  header.style-3 .dropdown > li .dropdown.level2 {
    right: initial; }
  .navbar-collapse {
    max-height: 250px;
    overflow-y: scroll;
    padding-bottom: 20px; }
  .news-headline .news-post {
    width: 50%; }
  .slider-news-fullwidth .flexslider .slider-caption p {
    display: none; }
  .combined-fullwidth .center-button {
    padding-top: 30px; }
  .masonry-box .iso-call .news-post {
    width: 50%; }
  .share-post-box ul.share-box li a {
    padding: 15px 32px; }
  .single-post .format-post-video iframe {
    height: 420px; }
  header.style-4 .megamenu ul.mega-list li a,
  header.style-4 .dropdown > li a {
    color: #212121; }
  header.style-4 .megamenu ul.mega-list li a:hover,
  header.style-4 .dropdown > li a:hover {
    color: #00A7B3; }
  header.style-4 .navbar-nav > li.active > a,
  header.style-4 .navbar-nav > li:hover > a {
    color: #212121 !important; }
  a.open-menu {
    margin-left: 15px; } }

@media (max-width: 767px) {
  .wide-news-heading .item {
    width: 50%; }
  .wide-news-heading .item.main-news {
    width: 100%; }
  #content-section .advertisement img {
    max-width: 100%;
    height: auto; }
  .header-banner-place .advertisement img {
    max-width: 100%;
    height: auto; }
  .top-line ul.info-list li {
    margin-right: 2px; }
  .top-line ul.info-list li:before {
    margin-right: 4px; }
  .top-line ul.social-icons li {
    margin-left: 4px; }
  .slider-news .slider-caption {
    position: relative;
    bottom: initial;
    right: initial;
    width: 100%;
    padding-bottom: 45px; }
  .slider-news-fullwidth .flexslider img {
    float: none;
    width: 100%;
    padding-left: 0; }
  .slider-news-fullwidth .flexslider .slider-caption {
    float: none;
    width: 100%;
    padding-bottom: 30px; }
  .slider-news-fullwidth .flexslider .flex-direction-nav {
    bottom: initial;
    top: 20px; }
  .masonry-box .iso-call.colum-4 .news-post {
    width: 50%; }
  .share-post-box ul.share-box li a {
    padding: 15px 16px; }
  .single-post > h1,
  .single-post ul.post-tags,
  .single-post .share-post-box,
  .single-post .text-boxes {
    padding: 0; }
  .contact-form-box .title-section h1 span.email-not-published {
    display: none; }
  .single-post .format-post-video iframe {
    height: 300px; }
  .single-post-gal .flexslider .flex-control-nav {
    bottom: 30px; }
  .forum-table {
    overflow-x: scroll; }
    .forum-table .table-head,
    .forum-table .table-row {
      min-width: 690px; }
  .forum-table.single-topic .table-row {
    min-width: initial; } }

@media (max-width: 575px) {
  .wide-news-heading .item {
    width: 100%; }
  .header-banner-place a.navbar-brand {
    margin-bottom: 0px; }
  .header-banner-place .advertisement {
    display: none; }
  .top-line {
    text-align: center; }
    .top-line ul.social-icons {
      text-align: center;
      margin-top: 5px; }
  .navbar-dark .navbar-toggler,
  .navbar-light .navbar-toggler {
    margin: 15px; }
  .navbar-collapse {
    padding-left: 15px; }
  .news-headline .news-post {
    width: 100%; }
  .masonry-box .iso-call .news-post {
    width: 100%; }
  .comment-area-box ul.depth {
    padding: 0; }
    .comment-area-box ul.depth .comment-box {
      padding-left: 0; }
  .share-post-box ul.share-box li {
    margin-bottom: 2px; }
    .share-post-box ul.share-box li a {
      padding: 15px 25px; }
  .single-post .format-post-video iframe {
    height: 240px; }
  .single-post-gal .flexslider .flex-control-nav {
    bottom: 20px; } }

@media (max-width: 400px) {
  .large-image-post h2 {
    font-size: 20px; }
  .masonry-box .iso-call.colum-4 .news-post {
    width: 100%; } }

.profile-image {
  width: 50px;
  border-radius: 50%;
  margin-top: -20px;
  margin-bottom: -20px;
}

@media (max-width: 991px) {
  .profile-image {
    width: 25px;
  }
}

.steemit-info {
	background: rgba(245, 245, 245, 1);
  text-align: center;
  padding: 20px;
}

.steemit-info h1 {
	padding: 10px;
}

.steemit-info p {
  text-align: center;
  padding-bottom: 10px;
}

.steemit-info img {
  padding: 10px;
}

.steemit-login-btn {
  border: none;
  color: white;
  background: #00A7B3;
  padding: 12px 20px;
  margin: 10px;
}

.steemit-login-btn:hover {
  text-decoration: none;
  color: white;
  opacity: 0.9;
}

/* .comment-box {
  border-left: 2px solid white;
}

.comment-box:hover {
  border-left: 2px solid #1a9adb;
} */

.formGrayOut {
  opacity: 0.2;
  background: #333 url('https://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif') no-repeat 50% 50%;
}

.upvote-box {
    bottom: 20px;
    right: 20px;
}

.comments-action {
  font-size: 12px;
   opacity: 0.6;
}

.comments-action:hover {
  opacity: 0.8;
  cursor: pointer;
  color: #00A7B3;
}

.comment-reply:hover {
   opacity: 0.8;
  cursor: pointer;
  color: #00A7B3; 
}

#voting {
  position:fixed;
  top:150px;
  width:60px;
  height:120px;
  z-index: 9999;
  font-size: 1.2em;
  margin-left: -60px;
  /* border: 2px solid rgb(205, 209, 215); */
  text-align: center;
}

#voting span {
  font-size: 30px;
  border-radius: 50%;
  /* border: 2px solid rgb(205, 209, 215); */
  padding: 30px;
}

#voting p {
  padding-bottom: 5px;
}

#follow-us {
  position: fixed;
  bottom: 0;
  padding: 8px;
  width: 100%;
  z-index: 9999;
  text-align: center;
  background: white;
  box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785)
}

#follow-us .fright {
  text-align: right;
}

#voting-icon {
  cursor: pointer;
  border-radius: 50%; 
  /* font-size: 1.2em; */
  /* padding: 10px; */
  /* border-radius: 50%; */
  /* border: 1px solid #1a9adb; */
  /* -webkit-box-shadow: 0px 0px 5px 1px rgba(66,145,214,0.5); -moz-box-shadow: 1px 1px 5px 1px rgba(66,145,214,0.5); box-shadow: 1px 1px 5px 1px rgba(66,145,214,0.5); */
}

#voting-icon:hover {
  color: rgb(26, 154, 219);
  cursor: pointer;

  animation: pulse 2s infinite;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #15b665bd;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(26,154,219, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(26,154,219, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(26,154,219, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(26,154,219, 0.4);
    box-shadow: 0 0 0 0 rgba(26,154,219, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(26,154,219, 0);
      box-shadow: 0 0 0 10px rgba(26,154,219, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(26,154,219, 0);
      box-shadow: 0 0 0 0 rgba(26,154,219, 0);
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sidebar_featured_image {
  width: 100%;
    height: 80px;
  height: 80px;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
  .sidebar_featured_image:hover {
    object-fit: cover;
    -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }

.site-logo {
  height: 50px;
}

.voted {
  color: green;
}

#voting-loader {
  margin-bottom: 15px;
}

.twitter-tweet-rendered {
    margin: auto;
}

.new::after {
  content: attr(data-alt);
  position: relative;
  bottom: 30px;
  height: 1.5em;
  width: 100%;
  background: rgba(0,0,0,0.75);
  z-index: 2;
  color:white;
  text-align: center;
  line-height: 1.5em;
  display: block;
}


@media screen and (max-width: 768px) {
  #featured-posts {
    visibility: hidden;
    display: none;
  }

  .author-image-container {
    clear: both;
    width: 100%;
    float: left;
  }

  #author-image {
    float: none;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;  
    margin-bottom: 15px;
  }

  .author-profile .author-box {
    padding: 10px;
  }

  .author-profile .author-box .author-content {
    margin-left: 0px;
    text-align: center;
  }
}

.metadata__publisher {
  display: none;
}

.metadata__author {
  display: none;
}

span.img-caption {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    padding: 0 5px 0 5px;
    display: block;
    font-size: 0.9em;
    text-align: center;
}

.fb-page {
  height: 500px;
}

.slider-container {
  width: 100%;
}

.comment-box ol li  {
  list-style: decimal;
  margin: 5px;
  font-size: 1em;
  /* font-size: 2em;  */
}

.wrap {
  /* width: 300px;
  min-width: 250px; */
  /* height: 50px; */
  margin: 10px;
  position: relative;
  /* display:table; */
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

.wrap-votes{
    /* @include border-radius(2px 0 0 2px); */
    border-radius: 2px 0 0 2px;
    display:table-cell;
    min-width: 50px;
    min-height: 50px;
    background: #2980b9;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
  }
  .wrap-vote {
    padding: 0 20px 0 20px;
    border-radius: 0 2px 2px 0;
    /* @include transition(0.3s); */
    /* @include border-radius(0 2px 2px 0); */
    display:table-cell;
    text-align: center;
    color: #fff;
    line-height: 50px;
    min-height: 50px;
    background: #3498db;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-left: 1px solid #3498db;
}

.voting-buttons {
  text-align: center;
}

.wrap-vote i {
  /* @include transition(0.3s); */
  transition: all 800ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  margin: 0 10px 0 0;

}

    
.wrap-vote:hover{
  background: #2980b9;
  -webkit-transition: 0.3s; /* Safari */
  transition: 0.3s;
}      
.wrap-vote i:hover {
  -webkit-transition: 0.3s; /* Safari */
  transition: 0.3s;
  transform: rotate(-90deg);
  transition: all 800ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.wrap-gift {
  background: #882006;
  border-left: 1px solid #882006;
}

.wrap-gift:hover{
  background: #882006;
} 

.wrap-gifts {
  background: #6b1905;
}

/* .value-header{

	background: blue;
} */

/* .value-header {
	font-size: 78px;
} */
.value-box-main {
  font-size: 78px;
}

.value-month{
	font-size: 15px;
	color: #575757;
	padding: 0px;
	margin: 10px;
}

.value-price{
	height:120px;
}

.value-header sup{
	font-size: 40px;
}

.wrap-value {
  font-size: 30px;
  background: #127528;
  padding: 20px;
  margin: 20px;
}

.author_avatar_title{
  margin-right: 5px;
  object-fit: cover;
  width: 25px !important; 
  height: 25px  !important;
  /* float: left; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#column-content {
  display: inline-block;
}
#column-content img {
  vertical-align: middle;
}
#column-content span {
  display: inline-block;
  vertical-align: middle;
}

.sidebar-link-with-image {
  overflow: hidden;
}

table {
  box-shadow: inset 0 0 0 -1px red;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  width: 100%
}

thead {
  background-color: #f4f4f4;
  color: #333;
}

tbody {
  border: 1px solid #f1f1f1;
  background-color: #fefefe;
  display: table-row-group;
  vertical-align: middle;
}

tbody td {
  padding: 0.5rem 0.625rem 0.625rem;
}

thead th {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
  text-align: left;
}

tbody tr:nth-child(even) {
  border-bottom: 0;
  background-color: #f1f1f1;
}

#comment-form-modal {
  display: none;
}

.cancel {
  margin-left: 20px;
}

.comment-highlight {
  border-radius: 3px;
  animation: highlight 500ms ease-out 2 alternate;
}
@keyframes highlight {
  100% {
    background-color: #00A7B3;
  }
}