ul.small-posts
    each post in featured
        li
            a(href= post.permlink).sidebar-link-with-image
                if post.thumbnail_image && post.thumbnail_image != ''
                    img(src= post.thumbnail_image).sidebar_featured_image
                else 
                    img(src='/img/default.jpg').sidebar_featured_image
            .post-cont
                h2
                    a(href= post.permlink) 
                        = post.title
                ul.post-tags
                    li
                        i.lnr.lnr-user
                        a= '@' + post.author + ', '
                        span(title= moment.utc(post.created).local().format('LLL'))= moment.utc(post.created).local().fromNow()
                ul.post-tags
                    li
                        i.lnr.lnr-thumbs-up
                        = post.votes_count
                    li
                        i.lnr.lnr-diamond
                        | $
                        = post.value.toFixed(2)