<template lang="pug">
    .row
        .col-12.col-12-small
            form(method='post' action='#')
                .row.gtr-uniform.gtr-50
                    .col-12
                        textarea#message(name='message' :placeholder="placeholder" rows='4' v-model="comment.body" ref="editor" :readonly="inProgress")
            ul.actions
                li
                    input(type='button' value='Save' @click="editComment()" :disabled="inProgress").primary
                li
                    input(type='button' value='Cancel' @click="cancel()" :disabled="inProgress")

</template>

<script>
    import Vue from 'vue';
    import Vuex from 'vuex';
    import CommentsService from "../../services/CommentsService";

    export default Vue.component('edit-form', {
        props: {
            comment: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                inProgress: false
            }
        },

        computed: {
            username() {
                return this.$store.state.sso.username;
            },
            placeholder() {
                return `Editing as @${this.username}`
            },
            token() {
                return this.$store.state.sso.token;
            }
        },

        methods: {
            editComment() {
                this.inProgress = true;
                return CommentsService.editComment(this.comment.parent_author, this.comment.parent_permlink, this.comment.author, this.comment.permlink, this.comment.title, this.comment.body, this.token)
                    .then(response => {
                        const { data } = response;
                        this.success(data.rendered);
                        this.inProgress = false;
                    })
            },
            cancel() {
                this.body = '';
                this.$emit('cancel')
            },
            success(rendered) {
                this.inProgress = false;
                this.$emit('success', rendered);
            }
        },

    })

</script>
