extends website

block content
    .error-box
        .error-banner
            h1 Error
                span 404
            p The page you are looking for does not exist. Try another one or visit
                a(href='//' + (blog.custom_domain ? blog.custom_domain : blog.domain)) main page.

    include partials/featured.pug
