extends website

append scripts
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" async)
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/pl.js" async)
    script(src="//cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.js" async)
    script(src="//cdn.jsdelivr.net/npm/marked/marked.min.js" async)
    script(src="/js/single.js" async)

    link(href="//cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.css" rel="stylesheet")

block content

    meta(name="description", content= article.abstract)
    input(type='hidden', id='permlink', value= article.permlink)
    input(type='hidden', id='editorial', value= article.author)
    if user
        input(type='hidden', id='logged_user', value= user.name)
    .row
        if user
            #voting
                p#voting-counter= votes_count
                #voting-loader
                    i(class= voted ? "voted" : "" ).fa.fa-thumbs-up#voting-icon
                p#voting-value
                    | $
                    = value
        .col-lg-8
            div(itemscope itemtype="http://schema.org/NewsArticle").single-post
                meta(itemprop="mainEntityOfPage" content= "https://" + (blog.custom_domain ? blog.custom_domain : blog.domain) + "/" + article.permlink)
                meta(itemprop="datePublished" content= moment(article.created).toISOString())
                meta(itemprop="dateModified" content= moment(article.created).toISOString())
                meta(itemprop="image" content= article.thumbnail)
                meta(itemprop="headline" content= article.title)

                include partials/metadata/publisher.pug

                if article.featured_image
                    img(src= article.featured_image)

                h1= article.title

                .text-boxes

                    p!= article.body

                    ul.tags-list
                        each tag in article.tags
                            li
                                a= tag
                            //- li
                                //- a(href="/tag/"+ tag)= tag

                ul(itemscope itemtype="http://schema.org/BreadcrumbList").post-tags
                    if article.categories
                        each category in article.categories
                            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                                i.lnr.lnr-tag
                                span(itemscope itemtype="http://schema.org/Thing" itemprop="item")
                                    a(href="/category/"+ category.slug itemprop="url")
                                        span(itemprop="name")= category.name
                    li
                        i.lnr.lnr-clock
                        span(title= moment.utc(article.created).local().format('LLL'))= moment.utc(article.created).local().fromNow()
                    li
                        i.lnr.lnr-thumbs-up#voting-icon
                        span#voting-counter= article.votes_count

                    li
                        i.lnr.lnr-diamond
                        span#voting-value= '$' + parseFloat(article.value).toFixed(2)

            //- include partials/author.pug
            include partials/comments.pug

        .col-lg-4.sidebar-sticky
            include partials/sidebar.pug
            include partials/voting-modal.pug
