doctype html
html
    head

        if article
            title= article.title + ' - ' + blog.title
        else if category
            title= category.name + ' - ' + blog.title
        else
            title= blog.slogan ? (blog.title + ' - ' + blog.slogan) : blog.title

        if blog.webmastertools_id && blog.webmastertools_id != ''
            meta(name="google-site-verification" content= blog.webmastertools_id)

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        
        link(id="hu-user-gfont" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,300,400italic,600&subset=latin,latin-ext" rel="stylesheet" type="text/css")
        link(href="/css/toastr.min.css" rel="stylesheet")
        link(href="/css/modernmag-assets.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="/css/ion.rangeSlider.css" rel="stylesheet")
        link(href="/css/ion.rangeSlider.skinHTML5.css" rel="stylesheet")
        link(href="/css/custom_categories.css" rel="stylesheet")
        link(href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet")
        link(rel="alternate" type="application/rss+xml" href=`https://${blog.custom_domain ? blog.custom_domain : blog.domain}/feed`)

        input(type="hidden" value=blog._id)#blogId_indicator

        include partials/opengraph.pug

        block scripts
            include partials/scripts.pug

    body
        #container
            
            include partials/navigation.pug

            section#content-section
                .container
                    block content
                    
                include partials/footer.pug

        

